{% extends "layout.html" %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="openid" type="hidden" value="https://www.google.com/accounts/o8/id"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in with google</button>
    </form>
{% endblock %}