{% extends "layout.html" %}

{% block content %}
    {% if mail != None %}

        <form id="remark-form">Remarks: <input id="remark" value="{{ mail.remarks }}"/> <input id="ident" type="hidden" value="{{ mail.message_id }}" /><input id='submitbtn' type="submit"/> </form><br>
        Sender: {{ mail.sender }}<br>
        Subject: {{ mail.subject }} <br>
        Body: {{ mail.body }}
        Date: {{ mail.date }}
    {% endif %}
    {% if mails != None %}
        <h2>Responses: </h2>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="mail-table">
        <thead>
            <tr>
                <th>Remarks</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>{{ mail.remarks }}</td>
                <td>{{ mail.sender  }}</td>
                <td><a href="{{ url_for('mails.get_mails', ident=mail.message_id) }}"> {{ mail.subject}} </a></td>
                <td>{{ mail.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
<script src="{{ url_for('static', filename='js/mails.js') }}" ></script>
{% endblock %}


